<p id="notice"><%= notice %></p>

<p>
  <strong>Nombre:</strong>
  <%= @person.name %>
</p>

<p>
  <strong>CUIL/CUIT:</strong>
  <%= @person.cuit %>
</p>

<%= link_to 'Editar', edit_person_path(@person) %> |
<%= link_to 'Volver', people_path %>
