<p id="notice"><%= notice %></p>

<h1>Datos del cliente</h1>

<%= link_to 'Ver Contactos', client_contacts_path(@client) %> |
<%= link_to 'Ver Facturas', client_bills_path(@client) %>
<br>

<p>
  <strong>Nombre:</strong>
  <%= @client.name %>
</p>

<p>
  <strong>Apellido:</strong>
  <%= @client.surname %>
</p>

<p>
  <strong>DNI:</strong>
  <%= @client.dni %>
</p>

<p>
  <strong>Género:</strong>
  <%= @client.gender %>
</p>

<p>
  <strong>Fecha de nacimiento:</strong>
  <%= @client.birthdate %>
</p>

<p>
  <stong>Edad:</strong>
  <%= "#{@edad} años" %>
</p>

<p>
  <strong>CUIL/CUIT:</strong>
  <%= @client.cuit %>
</p>

<h2>Facturación por año:</h2>

<% @anios.each do |key, value| %>
  <p>
    <%= "En #{key} facturó $#{value}." %>
  </p>
<% end %>

<h2>Facturas por mes del año corriente:</h2>

<% @cant_bills_by_month.each do |key, value| %>
  <p>
    <%= "En #{key} hubo #{value} facturas." %>
  </p>
<% end %>

<h2>Personas a las que más se facturó:</h2>

<% @personas.each do |key,value| %>
  <p>
    <%= "#{key} con #{value} facturas" %>
  </p>
<% end %>

<br>
<%= link_to 'Editar', edit_client_path(@client) %> |
<%= link_to 'Volver', clients_path %>
